@model BookModel

<div class="modal bg-dark" tabindex="-1" id="modelPopup" style="display:none;">
    <div class="modal-dialog modal-lg" style="height:90%;">
        <div class="modal-content" style="height:100%;">
            <div class="modal-header">
                @*<h5 class="modal-title">Modal title</h5>*@
                <button type="button" class="close" onclick="$('#modelPopup').hide();" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modelPopupBody">
                <iframe id="iframeBook" class="w-100 h-100" ></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#modelPopup').hide();" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Book details</h1>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.Gallary.Count; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="true" aria-label="Slide 1"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Gallary.Count; i++)
                    {
                        <div class=" @(i == 0 ? "carousel-item active" : "carousel-item") ">
                            <img src=@Model.Gallary[i].Path class="d-block w-100" alt="...">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="col-form-label">Auther : </span>
                    <span class="text-monospace">@Model.Auther</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-muted mb-3">
                    <span class="col-form-label">Price : </span>
                    <span class="text-monospace">@Model.Price</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="col-form-label">Description </span>
                    <p class="text-muted">
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary" id="btnReadNow">Read now</button>
                    <input type="hidden" id="hdnPdfUrl" value="@Model.BookPdfUrl" />
                </div>
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Category - </span>@Model.Category </li>
                <li class="list-group-item"><span class="font-weight-bold">Total Pages - </span>@Model.Pages </li>
                <li class="list-group-item"><span class="font-weight-bold">Language - </span>@Model.Language </li>
            </ul>
        </div>
    </div>

    <div class="py-5 bg-light">
        <h2 class="h2">Similar Books</h2>
        <div class="row">
            <vc:top-books count="3"></vc:top-books>
        </div>
    </div>
</div>

@section script{
    <script type="text/javascript">
        $("#btnReadNow").click(function () {
            $("#modelPopup").show();
            $("#iframeBook").attr("src", $("#hdnPdfUrl").val());
        });
    </script>
}