@model BookModel

<div class="container">
    <h1>Book details</h1>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.Gallary.Count; i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-current="true" aria-label="Slide 1"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Gallary.Count; i++)
                    {
                        <div class=" @(i == 0 ? "carousel-item active" : "carousel-item") ">
                            <img src=@Model.Gallary[i].Path class="d-block w-100" alt="...">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Title</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-primary">
                    <span class="col-form-label">Auther : </span>
                    <span class="text-monospace">@Model.Auther</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-muted mb-3">
                    <span class="col-form-label">Price : </span>
                    <span class="text-monospace">@Model.Price</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="col-form-label">Description </span>
                    <p class="text-muted">
                        @Model.Description
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-primary">Read now</button>
                </div>
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">Category - </span>@Model.Category </li>
                <li class="list-group-item"><span class="font-weight-bold">Total Pages - </span>@Model.Pages </li>
                <li class="list-group-item"><span class="font-weight-bold">Language - </span>@Model.Language </li>
            </ul>
        </div>
    </div>

    <div class="py-5 bg-light">
        <h2 class="h2">Similar Books</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/book2.jfif" style="height:200px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Head You Wins</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Auther</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/book2.jfif" style="height:200px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Head You Wins</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Auther</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/images/book2.jfif" style="height:200px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Head You Wins</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Auther</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

